$sitePalette: (
    "light": "#fdfdfe",
    "main-500": "#5F6577",
    "main-600": "#44007b",
    "main-1000": "#0f1015"
);

$light: "#fdfdfe";
$main-500: "#5F6577";
$main-600: "#44007b";
$main-1000: "#0f1015";
